* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
}

.main {
    display: grid;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

h1 {
    grid-column: 1 / -1;
    color: #297b60;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    position: sticky;
    top: 0;
}


.container {
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

#form-todo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #f1f1f1;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #fafafa;
    font-size: 1rem;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #ffb7b2;
    background-color: #fff;
}

textarea {
    height: 150px;
    resize: none;
}

#todo-submit {
    background-color: #297b60;
    color: #ffffff;
    border: none;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.1rem;
}

#todo-submit:hover {
    background-color: #1c5e46;
    box-shadow: 0 5px 15px rgba(222, 246, 237, 0.4);
}


#todo-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#todo-list li {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    border-left: 8px solid #ffdac1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
    /* transition: transfrom 0.2s; */
    display: flex;
    align-items: center;
    text-align: left;
}

/* #todo-list li:active {
    transform: scale(0.98);
} */


#todo-list li strong {
    display: block;
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 5px;
    
}


#todo-list li p {
    color: #5a5959;
    font-size: 0.9rem;
    line-height: 1.4;
}
